.google__img{
    width: 4.5rem !important;
    cursor: pointer;

}
body{
    font-family: arial, sans-serif;
}

header{
    border-bottom: 1px solid #ebebeb;
}

.bsq__div{
    color: #d93025;
    font-size: 20px;
}

.formulario__div{
    margin-top: 2.2rem !important;
}

label{
    font: 13px arial, sans-serif;
    color: #222222;
}

