html,body{
  font-family: arial, sans-serif !important;
  height: 100%;
  
}
.google{
  height: 200px;
}

/* .google__logo {
} */

.search__input {
  width: 528px !important;
}

.search__btn{
  background-color: #f8f9fa !important;
  font-size: 11.5px !important;
  
}